include LICENSE
include requirements.txt
include *.py

include model/save/s_v6_4_2022-09-16_11-51/*.py
include model/save/s_v6_4_2022-09-16_11-51/src/*.py
include model/save/s_v6_4_2022-09-16_11-51/model.pt
include model/save/s_v6_4_2022-09-16_11-51/s_v6_4_2022-09-16_11-51_cdf.csv

exclude *.ipynb
exclude model/save/s_v6_4_2022-09-16_11-51/train.job

prune data
prune examples
prune md_analysis
prune model_analysis
prune model_comparison
prune results
